        /* Upload 화면 모바일 반응형 CSS */
        
        @media (max-width: 1800px) {
            .line-chart-box {
                margin: 0 auto;
                width: 450px;
                height: 200px;
            }
        }
        
        @media (max-width: 1280px) {
            .major {
                font-size: 13px;
            }
            .intro,
            .chapelCount {
                padding: 12px;
            }
            .score {
                font-size: 0.8rem;
            }
            .progress-container {
                width: 110px;
            }
            .line-chart-box {
                margin: 0 auto;
                width: 360px;
            }
            .modalBtn {
                padding: 0;
            }
            .creditscolumn {
                flex-direction: column;
            }
            .credits {
                flex-direction: column;
                margin-bottom: 15px;
            }
            .credits:nth-child(4) {
                flex-direction: column;
                margin-bottom: 6px;
            }
            .credits:nth-child(5) i {
                display: none;
            }
            .generaltext {
                text-align: center;
            }
            .doughnut-chart-box {
                width: 130px;
            }
            .doughnut-data {
                font-size: 8px;
            }
            .percentage {
                margin-left: 10px;
            }
            .dot {
                left: 0;
            }
            .gradeRatio {
                height: 315px;
            }
            .cpcount {
                font-size: 30px !important;
            }
            .uncompleteBtn button {
                font-size: 12px;
            }
            .title {
                font-size: 15px;
            }
            .uncompletedCourses table tr,
            .RecommendedList table tr {
                padding: 0;
            }
            .tableTitle td {
                padding: 4px;
            }
            .uncompletedCourses,
            .RecommendedList {
                height: 320px;
            }
            .GraduationRequirements {
                padding: 10px;
            }
            .GraduationRequirements ul li {
                font-size: 12px;
            }
        }
        
        @media(max-width: 1000px) {
            .graduRe {
                font-size: 13px;
            }
            .modal-table tr td:nth-child(2),
            .modal-table tr th:nth-child(2) {
                width: 150px;
            }
            .clear button {
                border-radius: 15px;
                padding: 3px;
                font-size: 11px;
            }
        }
        
        @media (max-width: 767.98px) {
            .title {
                font-size: 15px;
            }
            .generaltext {
                text-align: left;
            }
            .intro_major {
                margin-top: 3px !important;
            }
            .intro {
                text-align: center;
            }
            .id,
            .grade,
            .majorDeep {
                font-size: 15px;
                font-weight: bold;
            }
            .major {
                font-size: 18px;
            }
            .intro_name span:first-child {
                font-size: 24px;
            }
            .clear button {
                background-color: red;
                color: white;
                border: 2px solid black;
                border-radius: 20px;
                width: 60%;
                padding: 5px;
                font-weight: bold;
                font-size: 12px;
            }
            .generalsub {
                justify-content: flex-end !important;
            }
            .creditscolumn {
                flex-direction: row;
            }
            .credits {
                flex-direction: row;
            }
            .credits:nth-child(5) i {
                display: inline;
            }
            .credits:nth-child(4) {
                flex-direction: row;
                margin-bottom: 6px;
            }
            .line-chart-box {
                margin: 0 auto;
                width: 350px;
            }
            .uncompleteBtn button {
                font-size: 13px;
            }
            .sec1 {
                order: 3;
            }
            .sec2 {
                order: 2;
            }
            .sec3 {
                order: 1;
            }
        }
        
        @media(max-width: 450px) {
            .line-chart-box {
                margin: 0 auto;
                width: 320px;
            }
            #line-chart {
                width: 320px;
            }
            .uncompleteBtn button {
                font-size: 13px;
                padding: 5px 8px;
            }
            .uncompletedCourses table tr,
            .RecommendedList table tr {
                padding: 0;
            }
            .tableTitle td {
                padding: 4px;
            }
            .uncompletedCourses,
            .RecommendedList {
                height: 320px;
            }
            .sec1 {
                order: 3;
            }
            .sec2 {
                order: 2;
            }
            .sec3 {
                order: 1;
            }
        }
        
        .totalscore {
            display: inline-block;
            margin-right: 20px;
        }